@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", sans-serif;
  background-color: theme("colors.primary"); /* sets bg color from tailwind.config */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
